input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;

    outline: none !important;
    border:1px solid darkgrey;
    border-radius: 8px;

    text-align: center;
    background-color: grey;
    margin: 10px;
}

input[type=text]:focus {
    outline: none;
    border-radius: 8px;
    margin: 10px;
}

input[type=submit] {
    display: block;
    padding: 10px;
    background-color: #E33A41;
    border: none;
    border-radius: 15px;
    font-size: 1.2em;
    height: fit-content;
    margin: 10px;
}

input[type=submit]:hover {
    background-color:#e8e8e8;
    padding: 6px;
    border: 4px solid #e8e8e8;
    color: #E33A41;
}

.form-center {
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#formAndButton {
    display: flex;
    flex-direction: row;
}