h1, h2, h3 {
    text-align: center;
}

h2 {
    padding: 20px;
}

div > h1 {
    padding: 0px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 50%;
    border: 10px;
}

#instructions, #noExisting {
    font-size: x-large;
    margin: 20px;
}

hr.divide {
    width: 75%;
    margin-left: 12.5%;
    margin-top: 70px;
    opacity: 1;
    border: 1px solid darkgrey;
}

.calibrate {
    position: relative;
}

.waiting {
    height: 100vh;
    width: 100vw;
}

.add {
    width: fit-content;
    height: auto;
    margin-top: 30px;
    margin-bottom: 15px;

    font-size: 1.2em;
    
    padding: 20px;
    margin-bottom: 30px;
    position: absolute;

    background-color: lightskyblue;
    border: none;

    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.add:hover {
    background-color:#348feb;
    padding: 16px;
    border: 4px solid #348feb;
    color: white;
}

.calibrationContainer {
    /* display: flex; 
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

    margin: 0;
    position: absolute;
    margin-top: 5%;
    margin-bottom: 5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.temp {
    position: absolute;
    left:    0;
    bottom:   0;
}

.smallHead {
    font-size: 28px;
    flex-basis: 50%; 
}

.gestures {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    gap: 50px 30px;
    font-size: 1.2em;
    flex-direction: row;

    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gestureContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 50px 30px;
    font-size: 1.2em;
    flex-direction: row;

    width: 80vw;
    height: 55vh;
}

.buttons {
    margin: 40px;
}

#gestureButton {
    margin: 15px;
    width: 30vw;
}

#skip {
    width: fit-content;
}

#content {
    margin-top: 6vh;
}