h1, h2 {
    text-align: center;
}

h2 {
    padding: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 50%;
    border: 10px;
}

.calibrate {
    position: relative;
}
.add {
    width: 75%;
    height: auto;
    
    padding: 20px;
    margin-bottom: 30px;
    position: absolute;

    background-color: lightskyblue;
    border: none;

    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.add:hover {
    background-color:#348feb;
    padding: 16px;
    border: 4px solid #348feb;
    color: white;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.temp {
    position: absolute;
    left:    0;
    bottom:   0;
}
.smallHead {
    font-size: 28px;
    flex-basis: 50%; 
}

.gestures {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 500px 30px;
}
