body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-border-radius: initial;
  -moz-border-radius: initial;
  -o-border-radius: initial;
  border-radius: initial;
  border: initial;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  background-color: darkgrey;
}

button {
  padding: 20px;
  background-color: lightskyblue;
  border: none;
  }

button:hover {
  background-color:darkgrey;
  padding: 16px;
  border: 4px solid lightskyblue;
}

svg {
  width: 60px;
  height: 60px;
  fill: lightskyblue;
}
svg:hover {
  fill: darkgrey;
}