body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  background-color: #1c1c1c;
}

h1, h2, h3, p {
  color: #e8e8e8;
}

div > button:not(#settingsGear, .goBackButton) {
  padding: 20px;
  background-color: #E74E5F;
  border: 4px solid #192C55;
  border: none;
  border-radius: 10px;
  color: #e8e8e8;
}

div > button:not(#settingsGear, .goBackButton, ) {
  width: fit-content;
}

button:hover:not(#settingsGear, .goBackButton) {
  background-color:#e8e8e8;
  padding: 16px;
  border: 4px solid #e8e8e8;
  color: #E74E5F;
}

.goBackButton {
  border: none;
  position: absolute;
  background-color: transparent;
  top: -10px;
  left: 5px;
  z-index: 1;
  background-color: transparent;
  border: none;
}

.goBackButton img {
  height: 15vh;
  width: 15vh;
  background-color: transparent;
}

@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  src: local("OpenSans"),
   url("./public/Open_Sans/static/OpenSans/OpenSans-Regular.ttf") format("truetype");
}  

@font-face {
  font-family: "OpenSans";
  font-weight: bold;
  src: local("OpenSans"),
   url("./public/Open_Sans/static/OpenSans/OpenSans-ExtraBold.ttf") format("truetype");
}  
