h1 {
  z-index: 10;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 50%;
  border: 10px;
}

.center {
  margin-top: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#yes {
  position: absolute;
  right:    0;
  bottom:   0;
}

#no {
  position: absolute;
  margin-left: 83%;
  bottom:   0;
}

.yesResponse {
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background:lightgreen; 
}

.noResponse {
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: #ed544a; 
}

.hidden {
  opacity: 0;
}

div > .responseText {
  background: top;
  font-size: 15em;
}
