img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  height: 50vh;
  width: auto;
  border: 10px;
}

p {
  font-size: 2em;
}

.center {
  /* margin-top: 5%; */
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#yes {
  position: absolute;
  left:    0;
  bottom:   0;
  z-index: 10;
}

#no {
  position: absolute;
  left: 70px;
  bottom:   0;
  z-index: 10;
}

#hi {
  position: absolute;
  left: 135px;
  bottom: 0px;
}

#maybe {
  position: absolute;
  left: 200px;
  bottom: 0px;
}

.hidden {
  display: none;
}

div > .responseText {
  background: top;
  font-size: 15em;
}

#settings {
  float: right;
  margin-top: 15px;
  margin-right: 20px;
  line-height: 5px;
  z-index: 10;
}

.size {
  height: 100vh;
  width: 100vw;
}

.interpretation {
  background-color: green;
}

.interpretationContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

#interpretHeader {
  margin-top: 20px;
}