div > h1 {
  width: max-content;
  font-weight: bold;
  font-size: 4em;
}

.homeButton {
  padding: 20px;
  font-size: x-large;
}

h1, p {
  margin: auto;
  text-align: center;
}

.Home > .lander > h1 {
  /* padding-top: 3%; */
  font-size: 5em;
  padding: 25px;
  font-weight: bold;
}

p #home{
  padding-bottom: 3%;
  font-size: xx-large;
  width: 30%;
}

.flex-container {
  column-gap: 5%;
  justify-content: center;
  align-content: center;
  display: flex;
  padding: auto;
  margin: auto auto 10px auto;
  width: 100%;
}

.lander {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  align-content: stretch;
}

div >  #homeImage {
  height: 40vh;
  width: auto;
}

body:not(h1, h2, h3) {
  font-family: "OpenSans";
  font-weight: normal;
}

h1, h2, h3 {
  font-family: "OpenSans";
  font-weight: bold;
}

#settingsGear img {
  height: 12vh;
  background-color: transparent;
}

#settingsGear {
  border: none;
  position: absolute;
  background-color: transparent;
  top: 5px;
  right: 5px;
  z-index: 1;
}